<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811899647678-bhnuua3657frues87dprl4m60csgctog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811899647678-bhnuua3657frues87dprl4m60csgctog</string>
	<key>API_KEY</key>
	<string>AIzaSyAy_qN7xSnRLsQvDCfhBlMSt3CHQ7PZJCY</string>
	<key>GCM_SENDER_ID</key>
	<string>811899647678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.mesdepanneurs.pro</string>
	<key>PROJECT_ID</key>
	<string>md-prestataire-3</string>
	<key>STORAGE_BUCKET</key>
	<string>md-prestataire-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811899647678:ios:ad7e3acd509233619cd0ef</string>
	<key>DATABASE_URL</key>
	<string>https://md-prestataire-3.firebaseio.com</string>
</dict>
</plist>